/* Styles for new ESLIM Redesign */


body {
    background: #fff;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12.8px;
    border-bottom: 10px solid #303030;
    color: #333;
}

/* heading */
#main-heading #eslimlogo {
    display: inline-block;
}
#main-heading .nswGovLogo {
    margin-right: 10%;
    margin-top: 20px;
    float: right;
}

/* top nav */
#cim_top-nav {
    background-color: #1D1D1D;
}
#navbar-border {
    border-bottom: 10px solid #f16b22;
}
#cim_top-nav .nav {
    margin: 0 auto;
    width: 980px;
}
#cim_top-nav .nav li.selected>a, #cim_top-nav .nav li.selected>a:hover, #cim_top-nav .nav li.selected>a:visited {
    background-color: #047EA3;
}
#cim_top-nav .nav li.menuitem-home.selected>a, #cim_top-nav .nav li.menuitem-home.selected>a:hover, #cim_top-nav .nav li.menuitem-home.selected>a:visited {
    background-color: #F16B22;
}
.nav li .sr-label {
    visibility: hidden;
    font-size: 0;
    float: left;
}
 /* search form */
.nav-search > form {
 /* border-left: 1px solid #4b4441;*/
  height: 3.2em;
  position: relative;
  width: inherit;
  z-index: 510;
}
.nav-search input[type="text"] {
  background: #047EA3;
  color: #fff;
  display: block;
  float: left;
  font-weight: bold;
  padding: 1em 0;
  transition: all .3s ease 1s;
  width: 0;
}
.nav-search input[type="text"]:focus {
  color: #fff;
}
.nav-search input[type="text"]:focus,
.nav-search:hover input[type="text"] {
  padding: 1em 1.25em;
  transition: all .3s ease .1s;
  width: 6.875em;
}
.nav-search input[type="text"]::placeholder {
    color: #fff;
}
.nav-search input[type="submit"] {
  background: #1d1d1d url(search-icon.png) no-repeat center center; /* IE8 fallback */
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: block;
  float: left;
  height: 3.2em;
  padding: 0 1.25em;
  transition: all .3s ease;
    text-align: left;
    text-indent: -99999px;
}
.nav-search input:focus,
.nav-search input[type="submit"]:hover {
  background-color: #4b4441;
}


/* Slider */
.slider-section {
    background-color: #047EA3;
    width: 100%;
    margin: 0 0 10px 0;
    max-height: 500px;
    overflow-y: hidden;
}

.slider-section {
  position: relative;
  display: inline-block;
}
.slider-section:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(25%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 80%,rgba(255, 255, 255, 1) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}
.slider-section #heropic .slick-initialized .slick-list {
    height: auto;
}
.slider-section #heropic .slick-initialized .slick-slide .ct-u-display-tablex {
    height: 500px;
}
.slider-section #heropic .slick-initialized .slick-slide .ct-u-display-tablex .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.slider-section #heropic .slick-initialized .slick-slide .ct-u-display-tablex .container .row {
    margin-right: 20%;
    margin-left: 20%;
}

.slider-section #heropic .slick-initialized .slick-slide .ct-u-display-tablex .container .row .slider-inner {
    width: 75%;
    font-size: 1em;
}
.slider-section #heropic .slick-initialized .slick-slide .ct-u-display-tablex .container .row .slider-inner h1 {
    /*font-size: 1.7rem;*/
}
.slider-section #heropic .slick-initialized .slick-slide .ct-u-display-tablex .container .row .slider-inner p {
    font-size: 3.3rem;
}
.slider-section #heropic .slick-initialized .slick-slide .ct-u-display-tablex .container .row .slider-inner p span {
    font-size: 3.3rem;
    color: #000;
    font-style: italic;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
    top: 0;
    line-height: 0;
}

.slick-prev:before, .slick-next:before {
    top: 0.7em;
}
.slick-prev:after, .slick-next:after {
    top: 1.1em;
}
.slick-prev:hover:after, .slick-next:hover:after {
    margin-top: 18px;
    margin-top: 1.2rem;
}
.slider-section #heropic .slick-initialized .slick-dots {
    bottom: 56px;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 12px;
    line-height: 40px;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    color: #f16b22;
}

/* Summary */

#summary {
    margin: 80px auto;
    width: 980px;
    font-size: 200%;
    clear: both;
}
#summary h1 {
    font-size: 150%;;
}
/* Business interactions */

#business_interactions {
    background: #f16b22;
    width: 100%;
}
#business_interactions .wrapper,
#news-section .wrapper,
#news-section .buttonwrapper {
   margin: 50px auto;
    width: 980px;
    font-size: 150%;
    padding: 20px 0;
}
#business_interactions .wrapper .panel-col-4 {
    width: 22%;
    font-size: 150%;
    border-left: 3px solid #fff;
    margin-left: 2%;
    padding-left: 2%;
    color: #fff;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    
}

#business_interactions .wrapper .panel-col-4:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

#business_interactions .wrapper .panel-col-4 p {
    font-size: 75%;
}

/* News section */
#news-section  .wrapper h2 {
    font-size: 150%;
}
#news-section .wrapper .panel-col-4 {
    width: 22%;
    border-left: 3px solid #fff;
    margin-left: 2%;
    padding-left: 2%;
    color: #000;
    vertical-align: top;
    display: inline-block;
    position: relative;
    background-color: #fff;    
    font-size: 0.8em;
}
#news-section .wrapper > .panel-col-4:nth-of-type(1) {
    margin-left: 0;
    padding-left: 0;
}
#news-section .wrapper .panel-col-4 .image img {
    max-width: 100%;
}
#news-section .wrapper .panel-col-4 .text-wrapper {
    top: 85%;
    position: absolute;
    background-color: #fff;
    width: 100%;
}

#news-section .wrapper .panel-col-4 .panel-heading {
    color: rgba(0,0,0,1);
    -webkit-transition: top 0.3s ease 0s, color 1s ease 0s;
    transition: top 0.3s ease 0s, color 1s ease 0s;
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size:1em;
}
#news-section .wrapper .panel-col-4 .description {
    color: rgba(0,0,0,0);
    -webkit-transition: top 0.3s ease 0s, color 1s ease 0s;
    transition: top 0.3s ease 0s, color 1s ease 0s;
    background-color: #fff;
    width: 100%;
}

#news-section .wrapper .panel-col-4:hover .text-wrapper {
    top: 50.73%;
}
#news-section .wrapper .panel-col-4:hover .panel-heading,
#news-section .wrapper .panel-col-4:hover .description {
    color: rgba(0,0,0,1);
}

#news-section .wrapper .panel-col-4 .description p {
    display: none;
    margin: 0;
    
}
#news-section .wrapper .panel-col-4:hover .description p {
    display: block;
}

#news-section .wrapper .panel-col-4 a {
    text-decoration: underline;
}
#news-section .wrapper .panel-col-4 a:hover {
    text-decoration: none;
}

#news-section .buttonwrapper .morelatestnews {
    background-color: #047EA3;
    padding: 2% 5%;
    clear:both;
    width:30%;
    margin-left: 7%;
    color: #fff;
    border-radius: .5em;
    text-decoration: none;
    opacity: 1;
}
#news-section .buttonwrapper .morelatestnews:hover {
    opacity: 0.8;
}


/* Video */

.video__section {
    padding-top: 3.4375rem;
    padding-bottom: 3.4375rem;
}
 .video__section .container {
    position: relative;
    width: 100%;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    
}
.video-col__2 {
    flex-basis: 50%;
    width: 50%;
    margin-left: 1.25rem;
    padding-left: 1.25rem;
}
.video__heading {
    color: #002664;
    font-size: 2.1875rem;
    font-weight: 600;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}
audio, canvas, video {
    display: inline-block;
}
.video__section .video-col__2:last-of-type {
    margin-top: 0;
    border-left: 1px solid rgba(0, 38, 100, 0.4);
    border-top: none;
}

/* Footer */
.footer__container {
    padding-top: 4.0625rem;
    padding-bottom: 4.0625rem;
    background-color: #303030;
}
.footer__container > .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 980px;
    margin: 0 auto;
}

.footer__heading {
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.3rem;
}

.footer__item {
   padding-bottom: 10px;
}
.footer__link {
    font-size: 0.975rem;
    color: #ffffff;
    text-decoration: none;
    line-height: normal;
    display: inline-block;
}
.footer__list i {
    color: white;
    width: 25px;
    
}

.language-links {
    background-color: #444;
    clear: both;
    margin: 0;
    min-height:4em;
    line-height: 4em;
}
.language-links > .container {
    color: #fff;
    width: 980px;
    margin: 0 auto;
    font-size: 1.2em;
}
.language-links > .container div {
    float: left;
    padding: 0 2%
}
.language-links > .container div a {
    color: #fff;
    text-decoration: none;
}
.language-links > .container div a:hover {
    text-decoration: underline;
}
.copyright__container {
    background-color: #000;
    clear: both;
    margin: 0;
    min-height:4em;
    line-height: 4em;
}
.copyright__container > .container {
    color: #fff;
    width: 980px;
    margin: 0 auto;
    font-size: 1.2em;
}

/* Content pages */
.main {
    display: block;
    font-size: 120%;
}
.main > .content_main-container {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
    width: 980px;
    margin: 0 auto;
}
.main > .content_main-container h1.pageheading {
    font-size: 3em;
}
.main > .content_main-container h1,
.main > .content_main-container h2,
.main > .content_main-container h3,
.main > .content_main-container h4,
.main > .content_main-container h5 {
    margin: 0.67em 0;
}
.main > .content_main-container .content {
    width: 72%;
}
.nosidebar .main > .content_main-container .content {
    width: 95%;
}
.main > .content_main-container p {
    margin-bottom: 1em;
}

/* Accordion */
.ui-accordion {
    margin: 20px 0 50px;
}
.ui-accordion .ui-accordion-header {
    font-size: 120%;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    border-bottom: 2px solid #f16b22;
    background: #fff; 
    font-weight: normal;
    color: #000;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    border-bottom: 2px solid #f16b22;
    background: #fff;
    font-weight: normal;
    color: #000;
    position: relative;
}
.ui-widget-content {
    border: none;
}

.ui-accordion-header-active:after {
    content:" ";
 	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #f16b22;
    float: right;
}

.ui-accordion-header-collapsed:after {
    content:" ";
 	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #f16b22;
    float:right;
}

/* Sidebar*/
.content_sidebar {
    margin-top: 100px;
    margin-left: 10px;
    width:24%;
    float: right;
}
.content_sidebar .container{
    margin-bottom: 20px; 
    display: inline-block;
    width: 100%;
}
.content_sidebar  .sidebarItem_wrapper {
    display: block;
}
.content_sidebar .sidebarItem {
    padding: 30px 20px;
    text-decoration: none;
    float: left;
    background-color: #047ea3;
    color: #fff;
    width: 100%;
    position: relative;
    font-weight: bold;
    text-align: center;
}
.content_sidebar .sidebarItem:hover,
.content_sidebar .sidebarItem.active {
    background-color: #f16b22;
}
.content_sidebar .sidebarItem.active:before {
    content: " ";
    width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-right: 13px solid #f16b22;
	border-bottom: 18px solid transparent;
    position:absolute;
    left: -13px;
    top: 22px;
} 
.content_sidebar .tile_wrapper {
    display: block;
}
.content_sidebar .tile_wrapper .image_wrapper {
    max-width: 100%;
    overflow-x: hidden;
}
.content_sidebar .tile_wrapper .image_wrapper img {
    vertical-align: bottom;
}
.content_sidebar .tile_wrapper .title_wrapper a {
    padding: 30px 20px;
    text-decoration: none;
    float: left;
    background-color: #047ea3;
    color: #fff;
    width: 100%;
    position: relative;
    font-weight: bold;
    text-align: center;
}

/* Contact us form */
div.contactForm>form {
    background-color: #ddd;
    height: 100%;
    width: 600px;
    padding: 30px 30px 30px 40px;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 40px;
}
div.contactForm>form>p {
    float: left;
    margin-right: 12px;
    margin-bottom: 15px;
    margin-left: 0;
    line-height: 1.5em;
}
div.contactForm>form label {
    color: #242424;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

div.contactForm>form select, div.contactForm>form input {
    height: 40px;
    margin-top: 5px;
    padding: 0 10px
}
div.contactForm>form select {
    background: #ffffff url(http://www.cklwebconsulting.com/eslim/img/select_arrow.png) no-repeat center right;
    -webkit-appearance: none;
    -moz-appearance: none;
}
div.contactForm>form>p#title>select {
    width: 95px;
}
div.contactForm>form>p#firstName input, div.contactForm>form>p#lastName input {
    width: 180px;
    border: solid 1px #e6e6e6 !important;
}
div.contactForm>form>p#organisation input, div.contactForm>form>p#area>select {
    width: 478px;
}
div.contactForm>form>p#select_country>select, div.contactForm>form>p#select_state>select, div.contactForm>form>p#email>input, div.contactForm>form>p#phone>input {
    width: 233px;
}
div.contactForm>form select option {
    margin: 0 10px;
}
textarea#enquiry {
    height: 140px;
    width: 465px;
    margin-top: 5px;
    color: #5e5e5e;
    padding: 10px;
    font-family: "Open Sans";
    border: solid 1px #e6e6e6;
}
div.contactForm>form>p#submit {
    float: right;
}
div.contactForm>form>p#submit>button {
    height: 40px;
    width: 175px;
    cursor: pointer;
    border: none !important;
    background-color: #f16b22;
    position: relative;
}
div.contactForm>form>p#submit>button:after {
    content: " ";
    width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 14px solid #f16b22;
	border-bottom: 20px solid transparent;
    position:absolute;
    right: -13px;
    top: 0;
}

/* Search Results */
#keywordSearchForm{
	/* The search form. */
    background: #f4f6f9;
    height: 130px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    border: 2px solid #cfd3dd;
    padding-left: 20px;
    padding-top: 25px;
	position:relative;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

fieldset{
	border:none;
}


#keywordSearch {
	/* The search text box. */

    float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	padding:0 0 0 35px;
	width:385px;
    height: 42px;
    width: 80%;
    border: 1px solid #ababab;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.keywordSearchSubmitBtn {
    display: inline;
    color: #23242b;
    background-color: #DFE3E8;
    margin-left: 10px;
    padding: 9px 12px 10px 12px;
    border-radius: 4px;
    vertical-align: middle;
}
#searchInContainer {
    
    display: block;
    margin-top: 20px;
    
}
#searchInContainer label {
    padding-right: 20px;
}
.results-list .summary {
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e4e6eb;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 5px;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    background: #f4f6f9;
    border: 1px solid #cfd3dd;
    margin-left: 1px;
    text-decoration: none;
    font-size: 0.85em;
}
.pagination > .active > a, .pagination > .active > span, .pagination > li.active > a:hover, .pagination > li.active > span:hover {
    color: #fff !important;
    background: #434c5b;
    border-color: #434c5b;
    font-weight: 500;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 0;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    border-color: #ddd;
}
.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > span {
    color: #cfd3dd !important;
    background: #f4f6f9;
    cursor: default;
    text-decoration: none;
}
.pagination-stats {
    margin-bottom: 20px;
    margin-left: 46px;
    font-size: 0.85em;
}
select#SelectPagination {
    color: #4A4A4A;
    outline: none;
    border: none;
    top:0px;
    left:0px;
    width:50px;
    height:30px;
    line-height:20px;
    margin:0;
    padding:0;
}
input#displayValue {
    display: none;
    position:absolute;
    top:0px;
    left:0px;
    width:13px;
    height:30px;
    height:21px\9;
    #height:18px; 
}
.MobilePag {
    display: none;
}
.MobilePagText {
    background: #FFF !important;
    border: 0px !important;
    font-size: 14px !important;
    padding-top: 5px !important;
    padding-left: 3px !important;
}
