/* General styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: #333;
}
    
button, .button {
    background-color: #0b7ba6;
    color: #fff;
}
h1, h2, h3, h4, h5 {
    font-size: 1.500em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h1 {
    font-size: 1.500em;    
}
h2 {
    font-size: 1.250em;    
}
h3 {
    font-size: 1.125em;    
}
h4 {
    font-size: 1.000em;    
}
h5 {
    font-size: 0.875em;    
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 1.000em;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}

body {
    background: #fff;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12.8px;
    border-bottom:30px solid #58595c;
    color: #333;
}

/* Header - Layer 1 */

#toprowtools {
    background-color: #58595c;
    width: 100%;
    padding-top: 7px;
    min-height: 37px;
}
#toprowtools .function-tools-toprow {
    height: 2.5em;
    color: #fff;
    width: 980px;
    margin: 5px auto 0;
}
#toprowtools .function-tools-toprow .toolswrapper {
    float: right;
    font-weight: bold;
    padding-right: 80px
}
#toprowtools .function-tools-toprow a {
    color: #fff;
    text-decoration: none;
    border: none;
}
#toprowtools .function-tools-toprow  a img {
    width: 19px;
    height: 19px;
    vertical-align: middle;
}
#toprowtools .function-tools-toprow div,
#toprowtools .function-tools-toprow form {
    display: inline;
}
#main-heading {
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 20px 0;
}
#main-heading .heading-wrapper {
    width: 980px;
    margin: 0 auto;

}
#main-heading #eslimlogo {
    display: block;
    text-decoration: none;
}
#main-heading #eslimlogo img {
    display: inline-block;
    border: none;    
}
#main-heading .search {
    display: inline-block;
    margin-left: 2%;
}
#main-heading .search .input-search {
    background: #fff url(../images/searchicon.jpg) 175px 50% no-repeat !important;
    border: 1px solid #c5c5c7;
    width: 165px;
    padding: 3px 30px 3px 5px;
    margin-right: 8px !important;
    display: inline-block;
    height: 25px !important;
    vertical-align: top;
    font-size: 0.95em;
}
#main-heading .search .button-go {
    background: #58595c;
    width: 65px;
    padding: 0 !important;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #fff;
    height: 25px;
    cursor: pointer;
    border: none !important;
    vertical-align: top;
    margin: 0 0 0 5px;
}
#main-heading .nswGovLogo {
    display: inline-block;
    margin-left:2%;
}

#cim_top-nav {
    background-color: #067fa4;
    margin:0px;
    z-index: 999;
    width: 100%;
    clear: both;
}

#cim_top-nav .slidingmenu {
    list-style-type: none;
    width: 980px;
    margin: 0 auto;
    height: 50px;
}
#cim_top-nav .slidingmenu>li:first-child {
    margin-left: 10px;
}
#cim_top-nav .slidingmenu li {
    margin: 0;
    padding: 0;
    width: 19.222%;
    float: left;
    white-space: normal;
    text-align: center;

}
#cim_top-nav .slidingmenu li  div,
#cim_top-nav .slidingmenu li  a {
    padding: 0 5px;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: bold;
    color: #fff;
    text-align:center;
    transition: .5s background-color;
    display:table-cell;
    vertical-align: middle;
    height:50px;
    width: inherit;
}
#cim_top-nav .slidingmenu li.selected>a, 
#cim_top-nav .slidingmenu li.selected>a:hover, 
#cim_top-nav .slidingmenu li.selected>a:visited {
    background-color: #434343;
    color: #fff;
}

#cim_top-nav .slidingmenu li ul,
#cim_top-nav .slidingmenu li.selected ul {
    position:absolute;
    left:-9999px;
    top:-9999px;
    list-style-type:none;
    border: 1px solid #434343;
    background-color: #f2f2f2;
    z-index: 999;
}


#cim_top-nav .slidingmenu li ul li {
    width:100%;
}
#cim_top-nav .slidingmenu li:hover {
    position: relative;
}
#cim_top-nav .slidingmenu li:hover ul {
    left: 0;
    top:49px;
    width: 99%;
}
#cim_top-nav .slidingmenu li:hover ul li {
    height: 50px;
    border-top: 1px solid #f2f2f2;
}
#cim_top-nav .slidingmenu li:hover ul li div,
#cim_top-nav .slidingmenu li:hover ul li a {
    color: #333;
    margin: 0;
    font-weight: normal;
    font-size: 0.95em;
    text-align: left;
    height: 48px;
    display: block;
    width: 100%;
    line-height: 48px;
    vertical-align: middle;

}
#cim_top-nav .slidingmenu li:hover > div,
#cim_top-nav .slidingmenu li ul li div:hover,
#cim_top-nav .slidingmenu li:hover > a,
#cim_top-nav .slidingmenu li ul li a:hover,
#cim_top-nav .slidingmenu li.selected ul li a:hover  {
    background-color: #434343;
    color: #fff;
}
#cim_top-nav .slidingmenu li ul li div span,
#cim_top-nav .slidingmenu li ul li a span {
    line-height: normal;
    padding:0;
    margin:0;
    display: inline-block;
}
 

#cim_top-nav .slidingmenu li.icon {display: none;}
 
/* Slider - Layer 2 */
.slider-section {
    background-color: #f36c24;
    width: 100%;
    margin: 10px 0;
   /*  min-height: 50px; */
   min-height: 70px; 
}
.slider-section #heropic {
    width: 980px;
    margin: 0 auto;
}
.slider-section #heropic .sliderwrapper a {
    text-decoration: none;
    display: table-cell;
    height: 242px;
}
.slider-section #heropic .sliderwrapper a img{
   float:left;
   height: 100%;
   margin-right: 10px;
}
.slider-section #heropic .sliderwrapper a .slider-text {
    display:block;
    color: #fff;
    font-size: 1.875em;
    line-height: normal;
    padding-top: 40px;
    padding-right: 10px;
}   
/* Slideshow container */
.slider-section #heropic .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  min-height: 100px;
}

/* Next & previous buttons */
.slider-section #heropic .prev, .slider-section #heropic .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.slider-section #heropic .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slider-section #heropic .prev:hover, .slider-section #heropic .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slider-section #heropic .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.slider-section #heropic .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slider-section #heropic .dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider-section #heropic .active, .slider-section #heropic .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slider-section #heropic .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* Breadcrumbs - Layer 3 */
.breadcrumbs {
    width: 980px;
    margin: 10px auto;
    font-size: 1.125em;
}
.breadcrumbs a {
    text-decoration: none;
    padding: 0;
    font-size: 1em;
}
.breadcrumbs a:first-child {
    /*color: #F46D25;*/
	color: black!important;
    font-weight: bold;
    font-size: 1em;
}
.breadcrumbs .breadcrumbPgTitle {
        font-size: 1em;
}
/* .breadcrumbs a:before {
    content: ">";
    padding: 0 5px 0 10px;
    font-weight: normal;
}

.breadcrumbs a:first-child:before {
    content: "";
    padding: 0;
}
  */
  
/* Content - Layer 4 */
.dcr_Section_type,
.dcr_lang_type {
    display: none;
}
#contentstart {
    background-color: #f4f4f4;
    font-size: 1em;
    clear: both;
    width: 980px;
    margin: 0 auto;
}
#contentstart #body-print {
    width: 96%;
    margin-right: 248px;
    padding-left: 10px;
    
}
#contentstart #body-print .bodycontent {
    width:70%;
    float: left;
    margin-bottom: 20px;
    padding-right: 10px;
}
#contentstart #body-print .bodycontent  h1 {
    margin: 1em 0 0.6em;
}
#contentstart #body-print .bodycontent p {
    margin-bottom: 1em;
}
#body-print p.gotop {
    padding-top: 10px;
}
#body-print p.gotop a.gotop {
    padding-left: 15px;
    background-repeat: no-repeat;
}

/* RHS */
#content_rhs {
    width: 100%;
    margin: 0 auto;
}
#content_rhs .right-col {
    width: 262px;
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

#content_rhs .right-col  .icon {
    height: 60px;
    width:100%;
    font-size: 1.250em;
    border: none;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #0b7ba6;
    display: table;
}
#content_rhs .right-col  .icon a {
    text-decoration: none;
    display: table-cell;
    height: 60px;
}
#content_rhs .right-col  .icon img {
    height: 100%;
    margin-right: 10px;
    float: left;
}
#content_rhs .right-col  .icon a span.icon_text {
    display: block;
    color: #fff;
    line-height: normal;
    padding-top: 10px;
    padding-right: 10px; 
}
#content_rhs .right-col .rhsfeed {
    background-color: #e5f4f8;
    padding: 15px 10px;
    font-size: 0.875em;
}
#content_rhs .right-col .rhsfeed .rhsfeed-head {
    font-weight: bold;
    padding: 10px 0;
}
#content_rhs .right-col .rhsfeed  ~ .rhsfeed .rhsfeed-head  {
    border-top: 2px solid #067fa4;
}



/* Footer - Layer 5 */
#footer-all {
    background-color: #f46d25;
    clear: both;
    margin: 8px 0;
	min-height:2em;
}
#footer-all .footer-wrapper {
    min-height: 40px;
    vertical-align: middle;
    line-height: 40px;
    width: 980px;
    margin: 2px auto;
    font-size: 0.750em;
    color: #000;
}
#footer-all .footer-wrapper .float-left {
    float: left;
    padding: 0 10px;
}
#footer-all .footer-wrapper .float-right {
    float: right;
    padding: 0 10px;
}
#footer-all .footer-wrapper a {
    text-decoration: none;
    color: #000;
}

/*bullets*/

#body-print ul {
 margin-left: 0px;
 list-style-type: disc;
 padding: 0 0 0 0px;
 padding-left:18px;
 text-indent: 0px;
}

#body-print ul li div {
	display:block;
}
#body-print  ul ul{
 margin-left: 0px;
 list-style-type: circle;
 padding: 0 0 0 0px;
 padding-left:30px;
 text-indent: 0px;
}
#body-print li li, #body-print  li li li{
	font-size: 1.0em !important;
}
#body-print ol {
	list-style: decimal outside none;
	margin: 0 0 0 15px;
}
#body-print ol li {
    margin-left:25px;
	padding-bottom: 6px;
}

/*Table added by Chitra*/
 th {
    border-bottom: 1px solid #d6d6d6;
    text-shadow: none !important;
}

tr:nth-child(even) {
    background: #e9e9e9;
}

table {
    border-collapse: collapse;
	font-family:arial;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #31849B;
    color: white;
}
td {
    background-color: #DAEEF3;
}

tr td:nth-child(-n+1){
   
    background-color:  #D9D9D9;
}
tr:last-child {  
    border-collapse: collapse;
	border-left: none;
        border-right: none;

 }
 
 tr:nth-last-child(5) {  

	border-left: none;
        border-right: none;

 }
 .ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page { position: relative !important }
/* */
