{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, is_front, search_exposed_block) }}

{% macro menu_links(items, attributes, menu_level, is_front, search_exposed_block) %}

  {% import _self as menus %}
  {% if items %}

    {% if menu_level == 0 %}
      <ul{{ attributes.setAttribute('role' , 'menubar') }}>
    {% else %}
      <ul>
    {% endif %}

    {% if is_front %}
      {% set homeactive = 'active' %}
    {% endif %}

    {% for item in items %}
     {%
      set item_classes = [
        'menu-item',
        item.below ? 'has-sub',
        item.is_expanded ? 'menuitem--expanded',
        item.is_collapsed ? 'menuitem--collapsed',
        item.in_active_trail ? 'active',
        homeactive and item.url.routed and item.url.routename == '<front>' ? 'active'
      ]
    %}
    {% if menu_level == 0 %}
      <li{{ item.attributes.addClass(item_classes).setAttribute('role', 'menuitem') }}>
    {% else %}
      <li>
    {% endif %}
        {% if item.url.routed and item.url.routename == '<front>' %}
          {% set icontitle %}
            <i class="fa fa-home fa-2x"></i><span class="sr-label">{{ item.title }}</span>
          {% endset %}
          {{ link(icontitle, item.url) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level +1) }}
        {% endif %}
      </li>
    {% endfor %}
    {% if menu_level == 0 %}
      <li role="menuitem" class="nav-search">
        {{ search_exposed_block }}
      </li>
    {% endif %}
    </ul>
  {% endif %}
{% endmacro menu_links %}
