{#
/**
 * @file
 * eslim's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
    'node',
    'main',
    'with-sidebar',
    'node--type-' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('eslimtheme/eslimguidelines') }}

<main{{ attributes.addClass(classes).setAttribute('id', 'main') }}>

  <div class="container content_main-container">

    <div class="content">
      <div class="content_body" lang="en" align="left" dir="ltr">
        <h1 class="pageheading">{{ label }}</h1>

        {{ content.body }}
        {% if content.field_guidelines_effective %}
          <span>{% trans %}Guidelines effective:{% endtrans %} {{ content.field_guidelines_effective }}</span>
        {% endif %}

        <div id="accordion">
            {% if content.field_guidelines|render is not empty %}
              <h2 id="theguidelines">{% trans %}The Guidelines{% endtrans %}</h2>
              <div>{{ content.field_guidelines }}</div>
            {% endif %}

            {% if content.field_draft_guidelines|render is not empty%}
              <h2 id="draftguidelines">{% trans %}Draft Guidelines{% endtrans %}</h2>
              <div>{{ content.field_draft_guidelines }}</div>
            {% endif %}

            {% if content.field_sumissions_received|render is not empty %}
              <h2 id="submissionsreceived">{% trans %}Submissions received{% endtrans %}</h2>
              <div>{{ content.field_sumissions_received }}</div>
            {% endif %}
            {% if content.field_key_dates|render is not empty %}
              <h2 id="keydates">{{ content.field_key_dates['#title'] }}</h2>
              <div>{{- content.field_key_dates -}}</div>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="content_sidebar" role="listbox">
      <div class="sidebar_container container">
          {% if content.field_guidelines|render is not empty %}
          <div class="sidebarItem_wrapper">
              <a data-panel="0" href="#theguidelines" class="sidebarItem" role="link">
                  {% trans %}The Guidelines{% endtrans %}
              </a>
          </div>
          {% endif %}
          {% if content.field_draft_guidelines|render is not empty%}
          <div class="sidebarItem_wrapper">
              <a data-panel="1" href="#draftguidelines" class="sidebarItem" role="link">
                  {% trans %}Draft Guidelines{% endtrans %}
              </a>
          </div>
          {% endif %}
          {% if content.field_sumissions_received|render is not empty %}
          <div class="sidebarItem_wrapper">
              <a data-panel="2" href="#submissionsreceived" class="sidebarItem" role="link">
                  {% trans %}Submissions received{% endtrans %}
              </a>
          </div>
          {% endif %}
          {% if content.field_key_dates|render is not empty %}
          <div class="sidebarItem_wrapper">
              <a data-panel="3" href="#keydates" class="sidebarItem" role="link">
                  {% trans %}Key Dates{% endtrans %}
              </a>
          </div>
          {% endif %}
      </div>
      <div class="tile_container container">
          <div class="tile_wrapper">
              <div class="image_wrapper">
                  <img src="{{ theme_path }}/images/tmp/latestreport.png" alt="latest report">
              </div>
              <div class="title_wrapper">
                  <a href="#" class="title" role="link">Latest Report</a>
              </div>
          </div>
      </div>
  </div>

  </div>

</main>
