@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
/* STYLES GO HERE */
}

/* mobile */
@media screen and (max-width :768px) {
    
    #main-heading #eslimlogo img {
        width: 100%;
        margin: 0 auto;
    }
   #main-heading .nswGovLogo {
    display: none;
    }
    #summary, #business_interactions,
    #news-section, .video__section {
        width: 95%;
        margin: 30px auto;
    }
    #business_interactions .wrapper, #news-section .wrapper, #news-section .buttonwrapper {
        margin: 20px auto;
        width: 100%;
    }
    #business_interactions .wrapper {
        padding-top: 10px;
    }
    #summary {
        font-size: 150%;
    }
    #business_interactions .wrapper .panel-col-4,
    #business_interactions .wrapper .panel-col-4:first-child {
        width: 100%;
        display:block;
        margin: 10px auto;
        border-top: 3px solid #fff;
        border-left: none;
        padding: 0 1em;
        text-align: center;
    }
    #business_interactions .wrapper .panel-col-4:first-child {
        border-top: none;
     }
    #news-section .wrapper .panel-col-4 {
        width: 100%;
        display:block;
        margin: 10px auto;
    
    }
    #news-section .wrapper .panel-col-4 .text-wrapper {
        top: 100%;
        position: static;
    }
    #news-section .wrapper .panel-col-4 .description p {
        display: block;
        color: #000;
    }
    .video__section > .container {
        display: block;
    }  
    .video-col__2 {
        flex-basis: 95%;
        width: 95%;
        display: block;
        clear: both;
        border: none !important;
        padding:0;
        margin: 0;
    }
    .footer__container {
        padding: 2.0325rem 0;
    }
    .footer__container > .container,
    .language-links > .container,
    .copyright__container > .container {
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    .contact__container,
    .links__container,
    .footer-logo {
        width: 100%;
        display: block;

    }
    .language-links {
        line-height: normal;
        padding: 1em 0;
        display: -webkit-box;
        display:flex
    }
    .copyright__container {
        line-height: 2em;
    }
    
    /* Content */
    .main > .content_main-container {
        width: 95%;
        display:block;
    }
    .main > .content_main-container .content {
        width: 100%;
    }
    .content_sidebar {
        display:block;
        width: 100%;
        float: none;
    }
    .content_sidebar .sidebar_container {
        display: none;        
    }
    .content_sidebar .tile_wrapper {
        width: 54%;
        margin: 0 auto;
        display: table-row;
    }
    
    .ui-accordion .ui-accordion-header,
    .ui-accordion-header-active {
        padding-right: 1.5em;
    }
    .ui-accordion-header-collapsed:after,
    .ui-accordion-header-active:after {
        margin-right: -1.3em;
    }
    
    /* Contact us form */
    div.contactForm>form {
        padding: 30px;
        width: 100%;
        margin-left: 0;
    }
    div.contactForm>form>p {
        margin: 0 0 15px 0;
        width: 100%;
    }
    div.contactForm>form>p#title>select,
    div.contactForm>form>p#firstName input,
    div.contactForm>form>p#lastName input,
    div.contactForm>form>p#organisation input,
    div.contactForm>form>p#area>select,
    div.contactForm>form>p#select_country>select, 
    div.contactForm>form>p#select_state>select, 
    div.contactForm>form>p#email>input, 
    div.contactForm>form>p#phone>input {
        width: 100%;
    }
    textarea#enquiry {
        height: 140px;
        width: 97%;
    }
    /* Search Results */
    #keywordSearchForm {
        height: 215px;
    }
    #searchInContainer {
        width: 75%;    
    }
    .DesktopPag {
        display: none;
    }
     .MobilePag {
        display: inline-block;
    }
    .pagination-stats {
        display: none;
    }
    .MobilePag > li > span {
        border: none !important;
    }
    select#SelectPagination {
         border: none;
    }
    .content_sidebar {
        display: none;
    }
}
    
/* tablet */
@media screen and (min-width:768px) {
    .main > .content_main-container,
    #summary,
    #business_interactions .wrapper,
    #news-section .wrapper,
    #news-section .buttonwrapper,
    .footer__container > .container, 
    .language-links > .container,
    .copyright__container > .container,
    .nav {
        width: 95%;
    }
    .main > .content_main-container {
        width: 95%:
    }
    footer {
        font-size: 0.9em;
    }
    .footer__link {
        font-size: 0.80rem;
    }
    .contact__container {
        flex-basis: 40%;
        width: 40%;
    }
    .links__container {
        flex-basis: 30%;
        width: 30%;
    }
    .footer-logo {
        flex-basis: 15%;
        width: 15%;
    }
}

/* Desktop */
@media screen and (min-width:980px) {
    .main > .content_main-container,
    #summary,
    #business_interactions .wrapper,
    #news-section .wrapper,
    #news-section .buttonwrapper,
    .footer__container > .container, 
    .language-links > .container,
    .copyright__container > .container,
    .nav {
        width: 980px;
    }
    
    footer {
        font-size: 1em;
    }
    .footer__link {
        font-size: 0.975rem;
    }
   .contact__container {
        flex-basis: 45%;
        width: 45%;
    }
    .links__container {
        flex-basis: 30%;
        width: 30%;
    }
    .footer-logo {
        flex-basis: 20%;
        width: 20%;
    }
}
