@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
/* STYLES GO HERE */
/*#toprowtools .function-tools-toprow
{
    display: none;
}	*/
}
@media screen and (max-width:767px) {

#cim_top-nav .slidingmenu li:hover ul 
{

display :none;

}

#cim_top-nav .slidingmenu  li.selected ul>li { display:block;}

    #main-heading .heading-wrapper,
    #cim_top-nav .slidingmenu,
    .slider-section #heropic,
    .breadcrumbs,
    #contentstart,
    #content_rhs,
    #content_rhs .right-col,
    #footer-all .footer-wrapper {
        width: 95%; 
    }
    #toprowtools {
        display: none;
    }
    #main-heading .heading-wrapper a img.logo {
        width: 100%;
    }
    
    #main-heading .heading-wrapper .nswGovLogo img {
        width: 65%;
    }
    /*#cim_top-nav .slidingmenu li:not(:first-child) {display: none;}*/
#cim_top-nav .slidingmenu li.selected ul {   
 /*   width: 100%;
display: block; 
position: inherit;
left:-9999px;
    top:-9999px;
    list-style-type:none;
    border: 1px solid #434343;
    background-color: #bbb!important;
    z-index: 999;*/
	/*left:-9999px;
    top:-9999px;*/
   /* list-style-type:none;
	position: inherit;
	width: 100%;
    display: block;
    margin-right: 0;
    padding: 0;*/
 position: static;
		display: block;
	background-color: #bbb!important; 
}

#cim_top-nav .slidingmenu li.active>a, 
#cim_top-nav .slidingmenu li.active>a:visited {
    background-color: #949490!important;
    color: #fff;
}

    #cim_top-nav .slidingmenu li.icon {
        float: right;
        display: none;
    }
    #cim_top-nav .slidingmenu,
    #cim_top-nav .slidingmenu li {
        float: none;
        display: block;
        width: 100%;
        height: auto;
    }
    #cim_top-nav .slidingmenu li {
        line-height:50px;
        border-top: 2px solid #fff;
    }
    #cim_top-nav .slidingmenu li:first-child {
        border: none;
    }
    #cim_top-nav .slidingmenu li a {
        width: 100%;
        display:block;
        margin-right: 0;
        padding:0;
		font-size: 1.125em!important;
		 text-align: center!important;
    }
    #cim_top-nav .slidingmenu li a span {
        text-align: center;
    }

	 
    
    
    #cim_top-nav .slidingmenu>li:first-child {
        margin-left: 0;
    }
	
    /*Display 'show menu' link*/
	
    .show-menu {
		display:block;
	}
    .slider-section #heropic .sliderwrapper a {
        height: 161px;
    }
    .slider-section #heropic .sliderwrapper a img {
        height: 100%;
    }
    .slider-section #heropic .sliderwrapper a .slider-text {
        padding-top: 10px;
		padding-bottom: 10px !important;
        font-size: 1.4em;
        clear: both;
    }  
    #contentstart #body-print,
    #contentstart #body-print .bodycontent {
        width:99%;
        padding-left:0;
    }
    #content_rhs .right-col {
        padding: 0;
    }
    #footer-all {
        padding: 0px 10px 10px;
    }
    #footer-all .footer-wrapper {
        line-height: normal;
        padding: 10px 0 0;
        height: auto;   
        display: block;
    }
    #footer-all .footer-wrapper .float-left,
    #footer-all .footer-wrapper .float-right {
        float: left;
        padding: 0 0 5px;
        width: 50%;
    }
    #footer-all .footer-wrapper .float-right {
        font-size: 0;
    }
    #footer-all .footer-wrapper .float-right a {
        display: block;
        line-height: normal;
        /*width: 50%; 3may footer 2 line issue*/ 
        /*float: left;*/
		/*float:right !important;*/
    }
    #footer-all .footer-wrapper .float-left a,
    #footer-all .footer-wrapper .float-right a {
        font-size: 0.70rem;
    }
        
}

@media screen and (min-width:768px) {
/*breadcrumbs issue */
 .breadcrumbs {
        padding-left: 10px; 
        width: 98%;
    }
/*fluid pc */
#cim_top-nav .slidingmenu 
{

 /*height: 50px;*/
 }
#cim_top-nav {
 	height:4em;  
}

#toprowtools .function-tools-toprow {
    height: 2.5em;
   
}

#cim_top-nav .slidingmenu li  a {
  
    height:3.5em;
   
}

#cim_top-nav .slidingmenu li:hover ul li {
    height:4em;
    
}
     #toprowtools {
       /* display: block;*/
    }
    #toprowtools .function-tools-toprow,
    #main-heading .heading-wrapper,
 
    .slider-section #heropic,
    .breadcrumbs,
    #footer-all .footer-wrapper {
        width: 100%; 
    }
    .slider-section #heropic .sliderwrapper a .slider-text {
        padding-top: 20px;
        font-size: 1.8em;
    }  
    .breadcrumbs {
        /*padding-left: 10px;*/
     /*   width: 98%;*/
    }
    #contentstart #body-print {
        width: 96%;
    }
    #contentstart,
    #content_rhs {
        width:100%;
    }
    #content_rhs .right-col {
        width: 27%;
    }

/* CV added */
.slidingmenu li ul
{
display:none;
}
.slidingmenu li:hover ul
{
display:block;  
}
.slidingmenu > li:hover
{
background-color:#000;  
}
    
}
@media screen and (min-width:980px) {
    #toprowtools .function-tools-toprow,
    #main-heading .heading-wrapper,
   
    .slider-section #heropic,
    .breadcrumbs,
    #contentstart,
    #footer-all .footer-wrapper {
        width: 980px; 
    }
    #main-heading #eslimlogo {
        display:inline-block;
    }
    .slider-section #heropic .sliderwrapper a .slider-text {
        padding-top: 40px;
        font-size: 1.875em;
    }      
    #contentstart #body-print {
        width: 92%;
    }
    #content_rhs {
        width:100%;
    }
    #content_rhs .right-col {
        width: 262px;
    }
    
}