{#
/**
 * @file
 * Overridden theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<p id="submit">
  <button{{ attributes }}>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    {{ 'Send Enquiry'|t }}
  </button>
  {{ children }}
</p>
