html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.messages {
  padding: 9px;
  margin: 1em 0;
  color: #919191;
  background-color: #ddd;
  border: 1px solid #c4c4c4;
  word-wrap: break-word;
}

.messages pre {
  border: 0;
}

.messages--warning {
  color: #903023;
  background-color: #ddc44f;
  border-color: #d1b328;
}

.messages--warning pre {
  background-color: #d1b328;
}

.messages--error {
  color: white;
  background-color: #cd4533;
  border-color: #a53728;
}

.messages--error pre {
  background-color: #a53728;
}

.messages--status {
  color: #304319;
  background-color: #8dbe51;
  border-color: #73a03c;
}

.messages--status pre {
  background-color: #73a03c;
}
