{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set main_menu = page.primary_menu|render %}
<div id="">
  <!-- ______________________ HEADER _______________________ -->

  <header>
    <div id="main-heading" role="banner">
        <div class="heading-wrapper">
          <a id="eslimlogo" title="eslimlogo" href="{{ front_page }}" target="_self"><img class="head-logo" border="0" src="{{ base_path ~ directory }}/images/fslim.jpg" alt="{% trans %}NSW Government - Emergency Services Levy Insurance Monitor{% endtrans %}" target="_self"></a>
          <div class="nswGovLogo">
            <a class="noscript" title="nswGovLogo" href="http://www.nsw.gov.au/" target="_blank"><img border="0" src="{{ base_path ~ directory }}/images/nswcrest.jpg" alt="NSW Government - Emergency Services Levy Insurance Monitor" target="_blank"></a>
          </div>
          {% if page.header %}
            {{ page.header }}
          {% endif %}
        </div>
    </div>

    {% if main_menu or secondary_menu %}


          {{ main_menu }}


    {% endif %}

  </header><!-- /header -->
  <div id="navbar-border"></div>

  {{ page.help }}
  <!-- ______________________ MAIN _______________________ -->

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {{ page.content }}

</div>
<footer class="footer" role="contentinfo">
  {% if page.footer_first %}
    <div class="footer__container">
      <div class="container">
          {{ page.footer_first }}
          <div class="footer-logo">
           <a class="img-logo" title="ESLIM Logo" href="http://www.eslinsurancemonitor.nsw.gov.au/" target="_blank"><img border="0" src="{{ base_path ~ directory }}/images/eslimlogo.png" alt="NSW Government - Emergency Services Levy Insurance Monitor" target="_blank"></a>
          </div>
      </div>
    </div>
  {% endif %}

  {% if page.footer_second %}
    <div class="language-links">
      {{ page.footer_second }}
    </div>
  {% endif %}

  {% if page.custom_copyright %}
    <div class="copyright__container">
      <div class="container">
        <div class="copyright">{{ page.custom_copyright }}</div>
      </div>
    </div>
  {% endif %}

</footer>
