{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
  {% if term.id == 5 %}
    <span class="sr-only">{{ name }}</span><i class="fa fa-usd" aria-hidden="true"></i>
  {% elseif term.id == 6 %}
      <span class="sr-only">{{ name }}</span><i class="fa fa-comment-o" aria-hidden="true"></i>
  {% elseif term.id == 7 %}
      <span class="sr-only">{{ name }}</span><i class="fa fa-hand-paper-o" aria-hidden="true"></i>
  {% elseif term.id == 8 %}
       <span class="sr-only">{{ name }}</span><i class="fa fa-check" aria-hidden="true"></i>
  {% endif %}
  <p>{{ content }}</p>
