/**
 * @file
 *
 * Visual styles for eslim's text-formatted component.
 */

.text-formatted ul,
.text-formatted ol {
  margin: 1em 0;
  padding: 0 0 0.25em 15px; /* LTR */
}
[dir="rtl"] .text-formatted ul,
[dir="rtl"] .text-formatted ol {
  padding: 0 15px 0.25em 0;
}
