{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('contact__container') }}>

    {% block content %}

      {{ title_prefix }}
      {% if label %}
        <h3 class="footer__heading">{{ label }}</h3>
      {% endif %}
      {{ title_suffix }}
      <ul class="footer__list">
{#         {{ content }} #}
        {{ content.field_phone }}
        {{ content.field_address }}
        {{ content.field_email }}
          {#{% if content.field_phone %}
            <li class="footer__item">
              <i class="fa fa-phone" aria-hidden="true"></i>
                {{ content.field_phone }}
            </li>
          {% endif %}
          {% if content.field_address %}
            <li class="footer__item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ content.field_address }}
            </li>
          {% endif %}
          {% if content.field_email %}
            <li class="footer__item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
               <a href="mailto:enquiries@eslinsurancemonitor.nsw.gov.au" class="footer__link">enquiries@eslinsurancemonitor.nsw.gov.au</a>
                {{ content.field_email }}
            </li>
          {% endif %}#}
      </ul>

    {% endblock %}

</div>
